body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(wave.jpg);
    overflow: hidden;
}
h1{
    color: white;
}
h2 {
    color: white;
}
p {
    display: inline-block;
    color: #0300ad;
}
hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background : linear-gradient(#aad0fc,#f7e2ff);
    border: 6px solid #000000;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #190074;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
} 


/* colored tiles */

 .x2 {
    background: linear-gradient(#d8fcff,#a1d8ff);
    color: #ffffff;
}

.x4 {
    background: linear-gradient(#c8e8fc,#eaabfd);
    color: #ffffff;
}

.x8 {
    background: linear-gradient(#a4f5f5,#f398e7);
    color: white;
}

.x16{
    background: linear-gradient(#94cbff,#ac6fd4);
    color: white;
}

.x32{
    background: linear-gradient(#66a8ff,#d454e0);
    color: white;
}

.x64{
    background: linear-gradient(#4ca4df,#8838c9);
    color: white;
}

.x128{
    background: linear-gradient(#1a67cc,#a812a1);
    color: white;
}

.x256{
    background: linear-gradient(#a45ef3,#53e2b2);
    color: white;
}

.x512{
    background: linear-gradient(#028dff,#1bfab0);
    color: white;
}

.x1024{
    background: linear-gradient(#3843da,#68eeee);
    color: white;
}

.x2048{
    background: linear-gradient(#4109a8,#418ce2);
    color: white;
}

.x4096 {
    background: linear-gradient(#066aa3,#7afcd1);
    color: white;
}

.x8192 {
    background: linear-gradient(#2102aa,#a2ffe0);
    color: white;
}
